.logo{
    animation: fade 1s;
    padding-top: 20px;
}

.recovery-container{
    background: #fff !important;
    border-radius: 5px;
    animation: fade 1.5s;
    margin: 0 auto;
    max-width: 400px;
}

.recovery-container div{
    margin: 0;
    padding: 0;
    display: inline;
}

.recovery-container form div h1{
    color: #5C5C5C;
    font-size: 17pt;
    margin: 0;
    padding: 0;
    display: inline;
}

.recovery-container form div svg{
    color: rgb(69, 214, 73);
    width: 20px;
    height: 20px;
    transition: ease 0.3s;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

.recovery-container form div svg:hover{
    color: rgb(25, 160, 30);
}
