/* Container da página */
.home-container{
    display: grid;
    grid-template-columns: 80px 1fr 300px;
    height: 100%;
}


/* Coluna 1: navbar */
.home-container .nav-menu{
    border-right: 1px solid rgba(255, 255, 255, 0.336);
    background-color: #8AC48C;
    height: 100%;
}

.home-container .nav-menu .fixed-bottom, .fixed-top{
    right: auto !important;
}

.home-container .nav-menu .logout, .home-users{
    margin-left: 5px;
}

.nav-menu div .nav-item{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: ease-in 0.1s;
    text-decoration: none;
}

.nav-menu div .nav-item:hover{
    background-color: rgba(1, 155, 7, 0.2);
    cursor: pointer;
    color: #fff;
}



.nav-menu div .nav-item>div{
    width: 70%;
    height: 35%;
}

.nav-menu div .nav-item>div>svg{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}

.nav-menu div .nav-item>span{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-weight: bold;
}

.nav-menu div .nav-item>span>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Coluna 3: Chat */
.chat-container{
    border-left: 1px solid rgba(255, 255, 255, 0.336);
    height: 100vh;
}

.chat-container>header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.chat-container header .logo{
    width: 150px;
}

.chat-container>header>input{
    margin-top: 2%;
    padding: 2% 3%;
    border: none;
    border-radius: 20px;
    width: 90%;
}

.chat-container .conversation-container{
    display: flex;
    border-top: 0.2px solid rgba(255, 255, 255, 0.555);
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.514);
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    transition: ease-in 0.1s;
}

.chat-container .conversation-container:hover{
   cursor: pointer;
   background-color: rgb(113, 160, 115);
}

.chat-container section .active{
    background-color: rgb(113, 160, 115);
}

.chat-container .conversation-container>div:nth-child(1){
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 50%;
    outline: none;
}


.chat-container .conversation-container>div:nth-child(2){
    width: 60%;
}

.chat-container .conversation-container>div:nth-child(2) h2{
    color: #fff;
}

.chat-container .conversation-container>div:nth-child(2) span{
    color: rgba(228, 228, 228, 0.63);
}

.chat-container .conversation-container>div:nth-child(3) svg{
    color: #fff;
}

