.users-container>div:nth-child(1){
  padding: 0 10px;
  display: flex;

  justify-content: space-between;
}

.users-container>div{
  width: 100%;
}

.users-content{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.users-content>div{
  margin: 10px;
}
