.user-container{
    padding: 2%;
}

.container-addMenu{
    background-color: rgba(255, 255, 255, 0.849);
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: ease-in 0.1s;
}


.user-container>section>div:nth-child(1){
    color: red;
    margin-bottom: 2%;
    width: 1.3rem;
    height: 1.3rem;
}

.user-container>section>div:nth-child(1)>svg{
    width: 100%;
    height: 100%;
}

.user-container>section>input{
    padding: 0.7%;
    margin-bottom: 1.5%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
}

.btn-success-outline{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.2% 2%;
    background: none;
    border: 1.5px solid #fff;
    border-radius: 15px;
    color: #fff;
    transition: 0.1s ease-in;
    margin-bottom: 2.5%;
}

.btn-success-outline:hover{
    background: rgb(48, 173, 52);
    border: 1.5px solid rgb(48, 173, 52);
    color: #fff;
}

.btn-success-outline>svg{
    margin-right: 1%;
}

.user-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5% 0;
    border-bottom: 1px solid rgb(230, 227, 227);
    height: 7rem;
}

.container{
    background-color: rgba(248, 248, 248, 0.849);
    border-radius: 10px;
    margin: 2% 0;
    padding: 0 2%;
}
